<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">
      Venda2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background:#F1F1F1">
  <ion-card *ngFor="let item of houseList;">
    <ion-card-header style="padding:0 18px">
      <ion-card-title class="title">
        <p>Residencial - 3 Dormitórios, Sala, Cozinha, Banheiro</p>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content style="padding:0">    
      <img [src]="item.imageUrl[0]"/>
    </ion-card-content>
  
    <ion-card-content style="color:white">
      R$ {{item.price}},00
    </ion-card-content>
  </ion-card>

</ion-content>
