<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="background: white !important">
      <ion-card-header style="padding:0 18px">
        <ion-card-title class="title" style="color:black">
          <p>Av. Frederico de Paula Cunha, 229 - Bairro Maristela 
              Santa Rita do Sapucaí - MG</p>
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content style="padding:0">    
        <img width="120px" height="220px" src="assets/img/logo.png"/>
      </ion-card-content>
    
      <ion-card-content style="color:white">
        R$ ,00
      </ion-card-content>
    </ion-card>
      
    <ion-item>
      <ion-button style="width:100%">
        Ligue para nós (3445-1234)
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

    

</ion-content>
