<ion-header>
  <ion-toolbar>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="background: white !important">
      <ion-card-header style="padding:0 18px">
        <ion-card-title class="title" style="color:black">
          <p>Av. Frederico de Paula Cunha, 229 - Bairro Maristela 
              Santa Rita do Sapucaí - MG</p>
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content style="padding:0; display:flex; justify-content: center">    
        <img height="220px" style="width:80% !important" src="assets/img/logo3.png"/>
      </ion-card-content>
    </ion-card>
      
    <ion-item>
      <ion-button style="width:100%">
        Ligue para nós (3445-1234)
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

    
</ion-content>
